<div class="box">
  <article class="media">
    <div class="media-left">
        <%= reply.user.name.capitalize %>
    </div>
    <div class="media-content">
      <div class="content-rep">
        <p class="rep-con">
          <%= reply.content %>
        </p>  
          <br/>
         <p class="time"> <strong><%= reply.user.name.capitalize %></strong> <small><%= time_ago_in_words(reply.created_at) %></small> </p>
        
        <a class="level-item">
            <%= link_to [reply.discussion, reply],
                data: {turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
              <i class="fa-solids fa-trash-can"></i>
            <% end %>
          </a>
      </div>
      <% if reply.user == current_user %>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">     
          </a>
        </div>
      </nav>
      <% end %>
    </div>
  </article>
</div>