<div class="columns-show">
  <h3 class="title-reply"><%= @discussion.title.capitalize %></h3>
  <%= link_to :back do %>
      <%# <i class="btn btn-primary"></i> %>

        <i class="fas fa-arrow-alt-circle-left fa-3x"></i>
   <% end %>
  <%# <div class="column is-8"> %>
    <%# <h1 class="title is-2 has-text-grey discussion-title"><%= @discussion.title.capitalize</h1> %>
    <h3 class="subtitle-rep">by <%= @discussion.user.name.capitalize %> </h3>
      <%# <div class="level-right"> %>
        <% if  @discussion.user %>
            <%# <%= link_to 'Edit Reply', edit_discussion_path(@discussion), class:'button' %> 
            <%# <%= link_to 'Delete', discussion_path(@discussion), data: { turbo_method: :delete, turbo_confirm: "Delete discussion?" }, class:'button' %>
        <% end %>
      <%# </div> %>
    
    <div class="discuss"><%= @discussion.content %></div>

    <h2 class="subtitle is-5 has-text-grey"><%= @discussion.replies.count %> Replies</h2>

    <div id="discussion-replies">
      <%= render @discussion.replies, class:'rep' %>
    </div>
       
    <% if user_signed_in? %>
      <%= render 'replies/form' %>
    <% else %>
    <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
      <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>

  <%# </div> %>
</div>