<div class="container-hint">
  <h1>Hints</h1>
  <h3>Fishing equipments</h3>
  <% @hints.each_with_index do |hint, index| %>
    <div class="card-product-hint">
        <h2><%= hint.equipment %></h2>
        <%= cl_image_tag hint.photo.key %>
        <p><%= hint.description %></p>
    </div>
  <% end %>

<%# <div class= "button-hint"> %>
  <%# <%= link_to fishing_spots_path do  %>
    <%# <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
  <% end %>
  <div class="button-back">
   <%= link_to :back do %>
      <%# <i class="btn btn-primary"></i> %>

        <i class="fas fa-arrow-alt-circle-left fa-3x"></i>
   <% end %>
  </div>
  <%# </div> %>
</div>
