<div class="container">
  <h1>Fishing Spots</h1>
  <div class="search">
  <%= form_with url: fishing_spots_path, method: :get, class: "d-flex search-field" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find Your Location"
    %>
    <%= submit_tag "Search", class: "btn-fish" %>
  <% end %>
</div>

  <div class="card-container">
    <% @fishingspots.each do |fishing_spot| %>
      <div class="card card-block">
        <div class="card-image">
          <%= cl_image_tag fishing_spot.photo.key, crop: :fill %>
        </div>
        <h3 class="card-address"><%= fishing_spot.address %></h3>
        <div class="card-activity">
          <% for i in 1..fishing_spot.fishing_activity %>
            <i class="fa-solid fa-fish-fins fa-2x"></i>
          <% end %>
        </div>
        <p class="card-text">Fishing Activity is <%= fishing_spot.fishing_activity %></p>
        <%= link_to "Fish Here", fishing_spot_path(fishing_spot), class: "btn-fish"%>
      </div>
    <% end %>
  </div>
</div>
</div>
